name: Trigger ForgeBox Lucee Release

on: [ push, pull_request ]

jobs:
  forgebox:
    name: Build Release
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Forgebox Deployment
        uses: adityakar/workflow-dispatcher
        with:
          owner: michaelborn
          repo: forgebox-cfengine-publisher
          token: ${{ secrets.PAT }}
          event_type: dev-deploy
          client_payload: '{"git-ref": "${{ github.event.inputs.git-ref }}"}'
          wait_time: 5
          max_time: 180